::-webkit-scrollbar{  
    width:14px; 
}  

::-webkit-scrollbar-button
{
	background-color:#045D7A;
}


::-webkit-scrollbar-track{  
    background-color:#045D7A;
}

::-webkit-scrollbar-track-piece{  
    background-color:#053C4C;
    -webkit-border-radius:10px;
}  

::-webkit-scrollbar-thumb{  
    background-color:#025C61;   
    border-radius:10px;  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);	
}  

::-webkit-scrollbar-button-arrow
{
	background-color:#fff;
}

::-webkit-scrollbar-corner {  
	background: #187B9C;  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}  

html
{
	height:100%;
	margin-bottom:0px;
	margin-top:0px;
}

body 
{
	height:100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#044D71), to(#0B3449));
	font-family:Arial,Helvetica,sans-serif;
}

.logo
{
	background: -webkit-gradient(linear, left top, left bottom, from(#01202A), to(#07495F));
	border-bottom:1px solid #77BFD7;
	border-left:#01202A;
	height : 60px;
	width:100%;
}

.mainWin
{
	width : auto;
	margin-left: auto;
	margin-right: auto;
	height : 760px;
	width:96%;
	border : 1px solid #011B1E;
	border-top:none;
	background-color:#002B3A;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	box-shadow: 1px 1px 3px #020B0B;
}

.messagealert
{
	position : absolute;
	left : 45%;
	top : 0px;
	border-top-left-radius : 2px;
	border-top-right-radius : 2px;
	border-bottom-left-radius : 5px;
	border-bottom-right-radius : 5px;
	background-color : #04B922;
	margin-left:auto;
	margin-right:auto;
	padding : 10px;
	display : none;
	z-index : 500;
	text-align : center;
	font-weight : bold;
	color : #fff;
}

.mainContent
{
	height : 650px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width : 95%;
}

.head
{
	background-color : #01202A;
	width : 100px;
	height : 30px;
	color : #fff;
	font-weight : bold;
	text-align : center;
	line-height : 30px;
	margin-left:100px;
	margin-top:80px;
	border-top : 2px solid #16707E;
	border-left : 1px solid #07ABC4;
}

.mainContent > table
{
	margin-left:100px;
}

.userbox
{
	border : 1px solid #014A52;
	-moz-border-radius : 10px;      /* Gecko browsers */
    -webkit-border-radius : 10px;   /* Webkit browsers */
    border-radius : 10px;            /* W3C syntax */
	background: -webkit-gradient(linear, left top, left bottom, from(#01202A), to(#07495F));
	width : 200px;
	height : 500px;
}

.user ul
{
	margin-bottom : 10px;
	width : 90%;
	height : 80%;
	overflow:auto;
	padding-left : 20px;
	list-style-type:none;
}

.user ul  > li 
{
	margin-right:5px;
	margin-left:5px;
	color : #fff;
	font-weight : bold;
	padding : 5px;
}

.user ul  > li:hover
{
	background-color : #0BCBD5;
	border-bottom: 1px solid #014549;
	cursor : pointer;
}

.userselect
{
	background-color : #0BCBD5;
	border-bottom: 1px solid #014549;
}

.userbtn 
{
	border-top : 1px solid #dedede;
	-moz-border-radius : 15px;      /* Gecko browsers */
    -webkit-border-radius : 15px;   /* Webkit browsers */
    border-radius : 15px;            /* W3C syntax */
	height : 70px;
}

.userinfobox
{
	border : 1px solid #014A52;
	-moz-border-radius : 10px;      /* Gecko browsers */
    -webkit-border-radius : 10px;   /* Webkit browsers */
    border-radius : 10px;            /* W3C syntax */
	background: -webkit-gradient(linear, left top, left bottom, from(#01202A), to(#07495F));
	width : 765px;
	height : 500px;
	overflow-y:hidden;
	
}

.userinfobox1
{
	width : 765px;
	height:88%;
	overflow-x:auto;
	overflow-y:hidden;
}

.userinfobox1   table
{
	margin-top:40px;
	height:88%;
	margin-left:auto;
	margin-right:auto;
	table-layout: fixed;
	overflow-x:scroll;
	overflow-y:hidden;
}

.userinfo td
{
	width:150px;
}

.userinfobox1 > table  tr > td  > label
{
	color : #fff;
}

.userinfo td  > input,select
{
	width : 120px;
	border-radius : 3px;
	background-color : #C6F0FB;
	border : 1px solid #276FAE;
	padding-left : 3px;
	height:25px;
	color : #717475;
}

.sure_btn_box
{
	display:none;
}

.sure_enable_btn
{
	float:right;
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-right : 100px;
	width : 70px;
	height:30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.sure_disable_btn
{
	float:right;
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-right : 100px;
	width : 70px;
	height:30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#A9ABAB));
}

.sure_enable_btn:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0D6FD0));
}

.user_enable_btn
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-left : 5px;
	margin-top : 20px;
	width : 70px;
	height:30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.user_disable_btn
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-left : 5px;
	margin-top : 20px;
	width : 70px;
	height:30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#A9ABAB));
}

.user_enable_btn:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0D6FD0));
}

.step_enable_btn
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-left : 30px;
	margin-top : 15px;
	width : 80px;
	height : 30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#16707E));
}

.step_disable_btn
{
	-moz-border-radius : 5px;      /* Gecko browsers */
    -webkit-border-radius : 5px;   /* Webkit browsers */
    border-radius : 5px;            /* W3C syntax */
	margin-left : 30px;
	margin-top : 15px;
	width : 80px;
	height : 30px;
	font-weight : bold;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#A9ABAB));
}

.step_enable_btn:hover
{
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#0D6FD0));
}

.new_user
{
	background:url("../images/new_user.png");
	width:633px;
	height:487px;
	display:none;
	position:absolute;
	left: 324px;
	top:175px;
	z-index:9;
}

.new_head
{
	color:#fff;
	margin-left:10px;
	margin-top:10px;
	font-weight:bold;
}

.new_content
{
	margin-top:15px;
	width:100%;
	height:330px;
}

.new_btn
{
	height:90px;
}

.new_btn button
{
	float:right;
	-moz-border-radius : 3px;      /* Gecko browsers */
    -webkit-border-radius : 3px;   /* Webkit browsers */
    border-radius : 3px;            /* W3C syntax */
	margin-right:20px;
	width : 100px;
	height : 30px;
	font-weight : bold;
	color:#717475;
	background:-webkit-gradient(linear, left top, left bottom, from(#E5E8E9), to(#CDCFD0));
	border:1px solid #B9C6CB;
	box-shadow: 1px 1px 2px #9DA5A8;
	cursor:pointer;
}

.new_btn button:hover
{
	background:-webkit-gradient(linear, left top, left bottom, from(#E5E8E9), to(#E5E9EA));
}

.new_content > table
{
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
}

.new_content td  > input,select
{
	width : 120px;
	border-radius : 3px;
	background-color : #C6F0FB;
	border : 1px solid #276FAE;
	padding-left : 3px;
	height:25px;
	color : #717475;
}

.new_content > table  tr > td  > label
{
	color : #535555;
}
